# Создайте файл .env из копии этого файла и замените значения переменных реальными данными


# API_KEY
STOCK_API-KEY = # ключ для получения цен на акции
CURRENCY_API-KEY = # ключ для получения курса валют